flask>=0.10.1
flask-mongoengine>=0.8
apispec>=0.6.0
marshmallow>=2.6.0
marshmallow-mongoengine>=0.7.2
flask-marshmallow>=0.6.2
ssdeep>=3.1.1
pytz>=2015.7
python-magic>=0.4.6
pyparsing>=2.0.7
blinker>=1.4
git+https://github.com/BlackXeronic/pefile_py3.git
mixer>=5.4.1
nose>=1.3.7
nose-exclude>=0.4.1
coverage>=4.0.3
codecov>=2.0.5
coveralls>=1.1
uwsgi>=2.0.12
flask-wtf>=0.12
flask-bootstrap>=3.3.5.7
flask-login>=0.3.2
flask-apscheduler>=1.4.0
git+https://github.com/fabian-rump/flask_modular_auth.git
