apispec==0.22.0
APScheduler==3.3.1
blinker==1.4
cffi==1.10.0
click==6.7
codecov==2.0.9
coverage==4.4.1
docopt==0.6.2
dominate==2.3.1
Faker==0.7.17
Flask==0.12.2
Flask-APScheduler==1.7.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.0
flask-marshmallow==0.8.0
git+https://github.com/fabian-rump/flask_modular_auth.git
flask-mongoengine==0.9.3
Flask-WTF==0.14.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
marshmallow==2.13.5
marshmallow-mongoengine==0.7.8
mixer==5.6.6
mongoengine==0.13.0
nose==1.3.7
nose-exclude==0.5.0
pefile==2016.3.28
pycparser==2.17
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-magic==0.4.13
pytz==2017.2
PyYAML==3.12
requests==2.17.3
six==1.10.0
ssdeep==3.2
tzlocal==1.4
uWSGI==2.0.15
visitor==0.1.3
Werkzeug==0.12.2
WTForms==2.1
