{% extends "base.html" %}
{% block page_title %}
    API documentation
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('mass_flask_webui.static', filename='swagger/css/screen.css') }}" media='screen' rel='stylesheet' type='text/css'/>
    <link href="{{ url_for('mass_flask_webui.static', filename='swagger/css/mass-override.css') }}" media='screen' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/jquery.slideto.min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/jquery.wiggle.min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/jquery.ba-bbq.min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/handlebars-2.0.0.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/underscore-min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/backbone-min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/swagger-ui.min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/highlight.7.3.pack.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/jsoneditor.min.js') }}" type='text/javascript'></script>
    <script src="{{ url_for('mass_flask_webui.static', filename='swagger/lib/marked.js') }}" type='text/javascript'></script>

    <script type="text/javascript">
        $(function () {
            var url = window.location.search.match(/url=([^&]+)/);
            if (url && url.length > 1) {
                url = decodeURIComponent(url[1]);
            } else {
                url = "{{ url_for('mass_flask_api.swagger') }}";
            }

            window.swaggerUi = new SwaggerUi({
                url: url,
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
                onComplete: function(swaggerApi, swaggerUi){

                    $('pre code').each(function(i, e) {
                    hljs.highlightBlock(e)
                    });

                    addApiKeyAuthorization();
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "list",
                jsonEditor: false,
                apisSorter: "alpha",
                defaultModelRendering: 'schema',
                showRequestHeaders: false
            });

            function addApiKeyAuthorization(){
                var key = encodeURIComponent($('#input_apiKey')[0].value);
                if(key && key.trim() != "") {
                    var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("api_key", key, "query");
                    window.swaggerUi.api.clientAuthorizations.add("api_key", apiKeyAuth);
                    log("added key " + key);
                }
            }

            $('#input_apiKey').change(addApiKeyAuthorization);

            window.swaggerUi.load();

            function log() {
                if ('console' in window) {
                    console.log.apply(console, arguments);
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="fa fa-question-circle"></i> API Documentation
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            To interact with the MASS server in a programmatic way, MASS features a rich RESTful API.
            Down below you can find further information about the supported endpoints and message formats.
            You can click on the different endpoints to display further information and try out the API interactively.
        </div>
    </div>

    <div class="row swagger-section">
        <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
        <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
    </div>
{% endblock %}
