{# {% load menu %} #}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mass_navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('mass_flask_webui.index') }}">MASS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mass_navbar">
       <ul class="nav navbar-nav">
           <li><a href="{{ url_for('mass_flask_webui.index') }}">Home</a></li>
           <li><a href="{{ url_for('mass_flask_webui.submit_file') }}">Submit a sample</a></li>
           <li><a href="{{ url_for('mass_flask_webui.sample_list') }}">Samples list</a></li>
           <li><a href="{{ url_for('mass_flask_webui.apidocs') }}">API Documentation</a></li>
           <li><a href="{{ url_for('mass_flask_webui.cli_scripts') }}">CLI Scripts</a></li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
