{% extends "base.html" %}

{% block page_title %}
Detail page for sample #{{ sample.id }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Sample #{{ sample.id }}
            <small>{{ sample_icon(sample) }} {{ sample._cls }}</small>
        </h1>
    </div>

            <h3>
                {% if sample.tlp_level == 0 %}
                    <span class="label label-default">TLP level: WHITE (unlimited)</span>
                {% elif sample.tlp_level == 1 %}
                    <span class="label label-success">TLP level: GREEN (community)</span>
                {% elif sample.tlp_level == 2 %}
                    <span class="label label-warning">TLP level: AMBER (limited distribution)</span>
                {% elif sample.tlp_level == 3 %}
                    <span class="label label-danger">TLP level: RED (personal for named recipients)</span>
                {% endif %}
            </h3>
            <p>
                {% if sample.created_by and sample.created_by.is_user %}
                    First upload on <strong>{{ sample.delivery_date }}</strong> by <strong>{{ sample.created_by.username }}</strong>
                {% else %}
                    First upload on <strong>{{ sample.delivery_date }}</strong> by an unknown user or system
                {% endif %}
            </p>


      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#metadata" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i> Metadata</a></li>
        <li role="presentation"><a href="#reports" role="tab" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i> Reports</a></li>
        <li role="presentation"><a href="#graph" role="tab" data-toggle="tab"><i class="fa fa-link"></i> Relation Graph</a></li>
      </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="metadata">
            <div class="row">
                <div class="col-md-12">
                    <h2>Common sample metadata</h2>
                    <dl class="dl-horizontal">
                        <dt>API Link</dt>
                        <dd><a href="{{ url_for('mass_flask_api.sample', id=sample.id) }}"><i class="fa fa-share"></i> Sample metadata in JSON API</a></dd>
                        <dt>Sample ID</dt>
                        <dd>{{ sample.id }}</dd>
                        <dt>Sample type</dt>
                        <dd>{{ sample._cls }}</dd>
                        <dt>Delivery date</dt>
                        <dd>{{ sample.delivery_date }}</dd>
                        <dt>First seen date</dt>
                        <dd>{{ sample.first_seen }}</dd>
                        <dt>Tags</dt>
                        <dd>
                            <ul>
                                {% for tag in sample.tags %}
                                    <li>{{ tag }}</li>
                                {% else %}
                                    <li><em>No tags found.</em>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>

                    {% if is_file_sample(sample) %}
                        <div>
                            <h2>File sample metadata</h2>
                            <dl class="dl-horizontal">
                                <dt>Sample download</dt>
                                <dd><a href="{{ url_for('mass_flask_api.sample_download', id=sample.id) }}"><i class="fa fa-share"></i> Download sample file</a></dd>
                                <dt>File size</dt>
                                <dd>{{ sample.file_size }} bytes</dd>
                                <dt>MIME type</dt>
                                <dd>{{ sample.mime_type }}</dd>
                                <dt>Magic string</dt>
                                <dd>{{ sample.magic_string }}</dd>
                                <dt>MD5</dt>
                                <dd>{{ sample.md5sum }}</dd>
                                <dt>SHA1</dt>
                                <dd>{{ sample.sha1sum }}</dd>
                                <dt>SHA256</dt>
                                <dd>{{ sample.sha256sum }}</dd>
                                <dt>SHA512</dt>
                                <dd>{{ sample.sha512sum }}</dd>
                                <dt>File entropy</dt>
                                <dd>{{ sample.shannon_entropy }}</dd>
                                <dt>ssdeep hash</dt>
                                <dd>{{ sample.ssdeep_hash }}</dd>
                                <dt>File names</dt>
                                <dd>
                                    <ul>
                                        {% for name in sample.file_names %}
                                            <li>{{ name }}</li>
                                        {% else %}
                                            <li><em>No file names found.</em>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    {% endif %}

                    {% if is_executable_binary_sample(sample) %}
                        <div>
                            <h2>Windows executable sample metadata</h2>
                            <dl class="dl-horizontal">
                                <dt>Stub</dt>
                                <dd>Implement me!</dd>
                            </dl>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="reports">
            <div class="row">
                <div class="col-md-12">
                    <h2>Reports</h2>
                    {% for report in reports %}
                        <div class="panel panel-default">
                            <div class="panel-heading" id="heading-{{ report.id }}">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ report.id }}">
                                        Report {{ report.id }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-{{ report.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Analysis system</dt>
                                        <dd>{{ report.analysis_system }}</dd>
                                        <dt>Report date</dt>
                                        <dd>{{ report.report_date }}</dd>
                                        <dt>Tags</dt>
                                        <dd>
                                            {% for tag in report.tags %}
                                                <li>{{ tag }}</li>
                                            {% else %}
                                                <li><em>No tags found.</em>
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="graph">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sample relation graph</h2>
                    <div id="relationgraph"></div>
                    <style type="text/css">
                        #relationgraph {
                            width: 100%;
                            height: 400px;
                            border: 1px solid lightgray;
                        }
                    </style>
                    <script type="text/javascript">

                        var nodes = new vis.DataSet();
                        var edges = new vis.DataSet();
                        var gephiImported;
                        loadJSON("{{ url_for('mass_flask_webui.sample_graph', sample_id=sample.id) }}", redrawAll, function (err) {
                            console.log("Error fetching graph data")
                        });

                        // create a network
                        var container = document.getElementById("relationgraph");

                        // provide the data in the vis format
                        var data = {
                            nodes: nodes,
                            edges: edges
                        };
                        var options = {};

                        // initialize your network!
                        var network = new vis.Network(container, data, options);

                        /**
                         * This function fills the DataSets. These DataSets will update the network.
                         */
                        function redrawAll(gephiJSON) {
                            if (gephiJSON.nodes === undefined) {
                                gephiJSON = gephiImported;
                            }
                            else {
                                gephiImported = gephiJSON;
                            }

                            nodes.clear();
                            edges.clear();

                            var parsed = vis.network.gephiParser.parseGephi(gephiJSON, {
                                fixed: true,
                                parseColor: false
                            });

                            // add the parsed data to the DataSets.
                            nodes.add(parsed.nodes);
                            edges.add(parsed.edges);
                            network.fit(); // zoom to fit
                        }

                        function loadJSON(path, success, error) {
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4) {
                                    if (xhr.status === 200) {
                                        success(JSON.parse(xhr.responseText));
                                    }
                                    else {
                                        error(xhr);
                                    }
                                }
                            };
                            xhr.open('GET', path, true);
                            xhr.send();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
