{% extends "base.html" %}

{% block page_title %}
Command Line Scripts
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1><i class="fa fa-keyboard-o"></i> Command Line Scripts</h1>
    </div>

    <div class="alert alert-warning">
        <b>Warning:</b> The MASS API is still in beta and may change in the future. If your local copy of a script fails to work correctly, please come back to this place to download an updated version of the script.
    </div>

    <div class="alert alert-info">
        <b>Please note:</b> In order to execute the scripts offered for download below, you have to mark the &lt;script&gt;.sh file as executable after download.
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">File Upload Script</h3>
        </div>
        <div class="panel-body">
            <p>The file upload script can be used to submit malware samples to the MASS server directly from the command line.
            The script supports submission of single files or a complete directory.
            You can optionally set a comment which will be attached to the uploaded samples.</p>

            Usage:
            <pre>./mass_cli_upload.sh -u &lt;api_url&gt; (-d &lt;directory&gt;|-f &lt;file&gt;) [-c &lt;comment&gt;]</pre>
        </div>
        <div class="panel-footer">
            <a href="{{ url_for('webui.static', filename='cli_scripts/mass_cli_upload.sh') }}">Download the script</a>
        </div>
    </div>


{% endblock %}
