
{% extends "base.html" %}

{% block page_title %}
Documentation
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1><i class="fa fa-question-circle"></i> Documentation</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Official Documentation Resources</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="https://mass-project.github.io/">MASS Project Website</a></li>
                <li><a href="https://github.com/mass-project">MASS source code on Github</a></li>
                <li><a href="https://mass-documentation.readthedocs.io">MASS Documentation and User manual</a></li>
                <li><a href="https://gitter.im/mass-project/chat">MASS Gitter chatroom</a></li>
            </ul>
        </div>
    </div>


{% endblock %}
