{% extends "base.html" %}

{% block page_title %}
Index
{% endblock %}

{% block content %}

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Latest samples</h3></div>
                    <table class="table table-striped table-hover">
                        <tr><th>#ID</th><th>Delivery date</th></tr>
                        {% for sample in latest_samples %}
                            <tr><td>{{ sample_icon(sample) }} <a href="{{ url_for('webui.sample_detail', sample_id=sample.id) }}">{{ sample.title }}</a></td><td>{{ sample.delivery_date }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Statistics - Delivered samples in the last 14 days</h3>
                    </div>
                    <div class="panel-body">
                        <div id="statistics"></div>
                        <script type="text/javascript">
                            var container = document.getElementById('statistics');
                            var items = [
                                {% for entry in sample_statistics %}
                                    {"x": "{{ entry[0] }}", "y": "{{ entry[1] }}"},
                                {% endfor %}

                            ];

                            var dataset = new vis.DataSet(items);
                            var options = {
                                drawPoints: { size: 3},
                                timeAxis: {scale: 'day', step: 1},
                                zoomable: false
                            };
                            var graph2d = new vis.Graph2d(container, dataset, options);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">About MASS</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-5 col-md-offset-1">
                            <a target="_blank" href="https://net.cs.uni-bonn.de">
                                <img src="{{ url_for('webui.static', filename='images/uni_bonn.svg') }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <a target="_blank" href="https://www.fkie.fraunhofer.de/">
                                <img src="{{ url_for('webui.static', filename='images/fraunhofer_fkie.svg') }}" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <p>The <strong>Malware Analysis and Storage System (MASS)</strong> is a joint research project by
                        the <a target="_blank" href="https://net.cs.uni-bonn.de">Communication and Network Systems Group @ University of Bonn</a>
                        and the <a target="_blank" href="https://www.fkie.fraunhofer.de/">Fraunhofer FKIE</a>.
                        The goal of our project is to create a flexible and reusable platform for malware analysis which empowers
                        collaboration between malware researchers.</p>

                        <p>The <strong>MASS server</strong> contains a database of all submitted malware samples
                        and all the gathered analysis data. <strong>Analysis systems</strong> are connected to the MASS server and automatically receive
                        new samples in order to execute an analysis. Researchers can obtain the analysis results via the MASS web interface
                        or the <strong>REST API</strong>.</p>

                        <p>MASS is <strong>free and open source software</strong> licensed under the terms of the MIT license. Other researchers are
                        invited to contribute to the MASS development!</p>

                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">News and Changelog</h3>
                    </div>
                    <div class="panel-body">
                        <h1><img src="{{ url_for('webui.static', filename='images/mass.svg') }}" style="height: 50px">
                            <small>Version {{ mass_version() }}</small>
                        </h1>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">v0.4: ToDo</li>
                        <li class="list-group-item">v0.3: ToDo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
