{% import 'macros.html' as macros %}

{% extends "base.html" %}

{% block page_title %}
Index
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Latest samples</h3></div>
    {{ macros.sample_list(latest_samples) }}
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Statistics - Delivered samples in the last 14 days</h3>
    </div>
    <div class="panel-body">
        <div id="statistics"></div>
        <script type="text/javascript">
            var container = document.getElementById('statistics');
            var items = [
                {% for entry in sample_statistics %}
                    {"x": "{{ entry[0] }}", "y": "{{ entry[1] }}"},
                {% endfor %}

            ];

            var dataset = new vis.DataSet(items);
            var options = {
                drawPoints: { size: 3},
                timeAxis: {scale: 'day', step: 1},
                zoomable: false
            };
            var graph2d = new vis.Graph2d(container, dataset, options);
        </script>
    </div>
</div>


{% endblock %}
