{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}
    Sample submission
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1><i class="fa fa-paper-plane"></i> Sample submission</h1>
    </div>

    <div class="alert alert-info">
        <b>Please note:</b> MASS compares your submitted sample to other existing samples in order to avoid duplicate submissions. Samples are uniquely characterized by their <strong>unique sample features</strong>, such as a provided file, an IP address or a domain name. When you submit a sample, please provide at least one of the features given below. You may also freely choose any combination of features, such as an IP address and a port number. In this case, MASS will check for uniqueness by <strong>combining all of the provided features</strong>.
    </div>

    {{ wtf.quick_form(form) }}
{% endblock %}
